<!DOCTYPE html>
<html lang="en">
{% include "header.twig" %}
<body>
{#{% include "components/menu.twig" %}#}

<div class="container">
    <div class="logo-box">
        <img class="logo" src="img/flag.svg" alt="Flag of the European Union">
        <h1 class="logo-text">European Public Broadcasting</h1>
    </div>
    <p class="lead" style="text-align: center">
        This URL did not match any of the supported broadcasters, or the video does not have any subtitles.<br>
        <a href="home">Go back home</a>
    </p>
</div>
</body>
</html>
