<!DOCTYPE html>
<html lang="en">
{% include "header.twig" %}
<body style="background: black">
<video id="videoPlayer" autoplay controls data-dashjs-player controlsList="nodownload" crossorigin="anonymous"></video>

<div class="modal" id="errorModal" style="display: none">
    <h1>This video could not be loaded</h1>
    <p>
        It appears that the video you tried to play could not be loaded.
        Please verify that the original video does have subtitles, and can be loaded from your country.
        If the issue persists, create an issue on <a href="https://github.com/Koenvh1/european-public-broadcasting">GitHub</a>.
    </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>

<script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
<script src="js/Player.js"></script>
<script src="js/Utils.js"></script>
<script src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>

<script>
    NProgress.start();
    let p = new Player();
    p.load("{{ video|escape("js") }}", "{{ caption|escape("js") }}", {{ protection|json_encode|raw }}).then(() => {
        const plyr = new Plyr('#videoPlayer', {
            controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'settings', 'pip', 'airplay', 'fullscreen'],
            captions: {
                active: true,
                language: localStorage.getItem("language") || "en",
                update: true
            }
        });
        plyr.on("languagechange", () => {
            if (plyr.language) {
                localStorage.setItem("language", plyr.language);
                p.setLanguage(plyr.language);
                // This fixes an issue with captions not being reset for some reason:
                plyr.currentTime = plyr.currentTime;
            }
        });

        NProgress.done();

        p.setLanguage(localStorage.getItem("language") || "en");
        plyr.toggleCaptions(true);
        // Force reset of current time to activate subtitles
        plyr.currentTime = plyr.currentTime;
    });
</script>
</body>
</html>
