<!DOCTYPE html>
<html lang="en">
{% include "header.twig" %}
<body style="overflow: hidden">
<video id="videoPlayer" autoplay controls data-dashjs-player controlsList="nodownload" crossorigin="anonymous" style="width: 100vw; height: 100vh; background: black"></video>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>

<script src="js/nprogress.js"></script>
<script src="js/Player.js"></script>
<script src="js/Utils.js"></script>
<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
{#<script src="js/language-switcher.js"></script>#}

<script>
    let p = new Player();
    p.load("{{ video|escape }}", "{{ caption|escape }}", {{ protection|json_encode|raw }}).then(() => {
        const plyr = new Plyr('#videoPlayer', {
            controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'settings', 'pip', 'airplay', 'fullscreen'],
            captions: {
                active: true,
                language: localStorage.getItem("language") || "en",
                update: true
            }
        });
        plyr.on("languagechange", () => {
            if (plyr.language) {
                localStorage.setItem("language", plyr.language);
                p.setLanguage(plyr.language);
                // This fixes an issue with captions not being reset for some reason:
                plyr.currentTime = plyr.currentTime;
            }
        });
        p.setLanguage(localStorage.getItem("language") || "en");
        plyr.toggleCaptions(true);
        plyr.currentTime = plyr.currentTime;
    });
</script>
</body>
</html>