<div class="bg-warning h-100 w-100 pt-3 pb-2 text-center browser-warning" style="display: none">
    <h4 class="font-weight-light">Your browser is not supported</h4>
    <p class="pt-1">Dutch Public Broadcasting does not work currently in Internet Explorer and Edge. Please open the website in Chrome or Firefox.</p>
</div>