<footer class="text-muted">
    <div class="container container-wide">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>&copy; <a href="https://koenvh.nl" target="_blank">Koenvh</a> - This project is not associated with Stichting Nederlandse Publieke Omroep.</p>
    </div>
</footer>