<div class="modal fade series-modal" tabindex="-1" role="dialog" aria-labelledby="seriesModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content card">
            <div class="modal-overlay">
                <img class="card-img-top modal-image series-image" src="https://placehold.it/400x200" alt="Series image" onerror="this.src='http://placehold.it/400x200'">
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-overlay-text series-title">Hello!</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p class="lead series-description">Sal, Dex, Noa en Bloem zijn vrienden met een zeer uiteenlopende achtergrond en vastberaden forever bij elkaar te blijven. Maar is hun vriendschap opgewassen tegen de snelle veranderingen die hun levens doormaken? In #forever zijn de levens van de vier vrienden te volgen. De kijker wordt meegenomen in de roerige en herkenbare wereld van deze pubers.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <select class="series-seasons form-control mb-2">

                        </select>
                        <ul class="list-group list-group-flush series-episodes">

                        </ul>
                        <button class="btn btn-primary mt-2 series-previous">Previous</button>
                        <button class="btn btn-primary mt-2 float-right series-next">Next</button>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <img class="series-channel mb-3 float-right float-md-none" style="max-width: 100px" src="">
                        <h5>Broadcaster</h5>
                        <p class="series-broadcasters"></p>
                        <h5>Episodes</h5>
                        <p class="series-episodes-count"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>