@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --plyr-color-main: #004494;
    --plyr-menu-color: #000000;
    --plyr-menu-background: #ffffff;
    --plyr-font-size-large: 5vh;
    --plyr-font-size-xlarge: 5vh;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', Tahoma, Arial, Helvetica, sans-serif;
    color: #000000;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
}

@media only screen and (min-width: 768px) {
    .container {
        padding-top: 50px;
    }
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 75px;
}

.logo-text {
    margin: 15px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
}

.broadcasters {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: center;
}

.broadcaster-box {
    display: inline-block;
    height: 90px;
}

.broadcaster {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    width: 50vw;
    max-width: 120px;
    height: 50px;
    padding: 20px;
    /*border: solid 3px #004494;*/
}

.broadcaster-input:checked ~ .broadcaster {
    padding: 15px;
    border: solid 5px #004494;
}

.broadcaster:hover {
    background: #dedfe1;
}

.broadcaster img {
    max-height: 50px;
    width: auto;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.broadcaster-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #004494;
    font-family: 'Inter', Tahoma, Arial, Helvetica, sans-serif;
}

input {
    font-size: 1.1rem;
    line-height: 1.1rem;
    padding: 17px;
    border: solid 3px #004494;
    color: #004494;
    flex-grow: 1;
}

input:focus {
    padding: 15px;
    border: solid 5px #004494;
    outline: none;
}

select {
    font-size: 1rem;
    line-height: 1rem;
    padding: 5px;
    border: solid 2px #004494;
    color: #004494;
}

select:focus {
    padding: 4px;
    border: solid 3px #004494;
}

.btn {
    background: white;
    color: #004494;
    font-size: 1.1rem;
    line-height: 1.1rem;
    padding: 17px;
    border: solid 3px #004494;
    border-left: none;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: #004494;
    color: white;
}

.btn:focus {
    outline: none;
}

.flex {
    display: flex;
    width: 100%;
}

video::cue {
    visibility: hidden !important;
}

div[id^="plyr-settings-"][id$="-captions"] > div {
    max-height: 300px;
    overflow-y: scroll;
}

#videoPlayer {
    background: black;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: auto;

    max-width: 600px;

    background-color: #ffffff;
    padding: 17px;
    border: solid 3px #004494;
    color: #004494;

    z-index: 1000;
}
