<!DOCTYPE html>
<html lang="en">
{% include "components/header.twig" %}
<body class="bg-light">
{% include "components/menu.twig" %}

<div class="container container-wide">
    <div class="row">
        <div class="col-md-8 col-sm-12 video-player-container">
            <video id="videoPlayer" autoplay controls controlsList="nodownload" crossorigin="anonymous" class="box-shadow bg-dark w-100"></video>
        </div>
        <div class="col-md-4 col-sm-12">
            <h1 class="display-4 series-episode-title">Loading title...</h1>
            <p class="text-muted"><span class="series-title"></span> - <span class="series-broadcasters"></span> - <span class="series-date"></span></p>
            <p class="lead series-description">
                Loading description...
            </p>
            <div class="row">
                <div class="col-lg-4">
                    <button class="btn btn-primary series-item series-show">More from this series</button>
                </div>
                <div class="col-lg-8">
                    <div class="form-group form-check mt-2 mt-lg-0">
                        <label><input type="checkbox" class="form-check-input" id="enableOcr"> Enable experimental hardcoded subtitle translation</label>
                    </div>
                </div>
            </div>
            <img class="series-channel" style="max-width: 100px" src="">
        </div>
    </div>
    <!--
    <div class="row">
        <ul class="list-group list-group-horizontal series-episodes mt-4" style="flex-direction: row; flex-wrap: wrap;">

        </ul>
        <button class="btn btn-primary mt-2 series-previous">Previous</button>
        <button class="btn btn-primary mt-2 float-right series-next">Next</button>
    </div>
    -->
</div>

{% include "components/series-modal.twig" %}

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
<script src="js/vendor.js"></script>
<script src="js/app.js"></script>

<script>
    let p = new Player();
    p.load().then(() => {
        let a = new Programmes();
        $(".series-item").data("id", p.series);
        a.load();
    });

    const videoInfo = (callback) => {
        p.videoInfo(callback);
    }
</script>
</body>
</html>