<!DOCTYPE html>
<html lang="en">
{% include "components/header.twig" %}
<body class="bg-light">
{% include "components/menu.twig" %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Other broadcasters <small><span class="badge badge-primary">Beta</span></small></h1>
            <p class="lead">
                Dutch Public Broadcasting has beta support for videos from other public broadcasters.
                This means that you can have subtitles translated for for example Danish or Norwegian television.
                Please check beforehand that the video actually has subtitles.
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <h3>Automatic parsing</h3>
            <form method="get" action="player-standalone.html">
                <div class="form-group mb-2">
                    <select class="form-control" name="broadcaster" required>
                        <option value="">-- Select a broadcaster --</option>
                        <option value="ard">ARD</option>
                        <option value="ceskatelevize">Česká televize</option>
                        <option value="dr">Danmarks Radio (DR)</option>
                        <option value="err">Eesti Rahvusringhääling (ERR)</option>
                        <option value="nrk">Norsk Rikskringkasting (NRK)</option>
                        <option value="rtbf">RTBF</option>
                        <option value="rts">Télévision Suisse Romande (RTS)</option>
                        <option value="svt">Sveriges Television (SVT)</option>
                        <option value="tvp">Telewizja Polska (TVP)</option>
                        <option value="yle">YLE</option>
                        <option value="zdf">Zweites Deutsches Fernsehen (ZDF)</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <input type="url" class="form-control" id="videoUrl" name="videoUrl" placeholder="Video URL" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2 btn-block">Submit</button>
            </form>
        </div>
        <div class="col-md-6 col-sm-12">
            <h3>Manual URL entry</h3>
            <form method="get" action="player-standalone.html">
                <div class="form-group mb-2">
                    <input type="url" class="form-control" id="videoUrl" name="videoUrl" placeholder="Video URL">
                </div>
                <div class="form-group mb-2">
                    <input type="url" class="form-control" id="captionUrl" name="captionUrl" placeholder="Caption URL">
                </div>
                <button type="submit" class="btn btn-primary mb-2 btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
<script src="js/vendor.js"></script>
<script src="js/app.js"></script>
</body>
</html>