<!DOCTYPE html>
<html lang="en">
{% include "components/header.twig" %}
<body class="bg-light">
{% include "components/menu.twig" %}

<main role="main">
    <div class="album py-2">
        <div class="container container-wide">
            <div class="row mb-3">
                <div class="form-inline col-lg-10 col-md-8 col-sm-12">
                    <select class="form-control mr-md-4 filter" data-prop="az" id="filterAz"></select>
                    <select class="form-control mr-md-4 filter" data-prop="genreId" id="filterGenre"></select>
                    <select class="form-control mr-md-4 filter" data-prop="dateFrom" id="filterMostWatched"></select>
                </div>

            </div>
            <div class="row" id="series">
                <div class="col-12 text-center"><div class="loader m-auto"></div></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <select class="form-control ml-auto filter float-right" style="width: auto;" data-prop="page" id="filterPage"></select>
                </div>
            </div>
        </div>
    </div>

</main>

{% include "components/footer.twig" %}

{% include "components/series-modal.twig" %}

<script src="js/vendor.js"></script>
<script src="js/app.js"></script>

<script>
    let p = new programmes();
    p.load().then(() => {
        p.showSeriesCollection(true);
    });
</script>
</body>
</html>